---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="About">

    <header class="main">
        <section class="hero-container">
            <div class="title-large margin-bottom-8">UX Unboxed</div>
            <div class="subtitle margin-top-16">
                Where Art and Technology Converge
            </div>
        </section>
    </header>

    <main class="rounded-corners">
        <div class="blog-summary-options">
            <a href="/blog/chatgpt-beginner-to-advanced">
                <div class="blog-icon"></div>
                <div class="blog-details">
                    <h2 class="blog-title">ChatGPT: Beginner Prompting</h2>
                    <p class="blog-summary">Join me, Kyle, your trusty user experience expert, 
                        as we delve into the depths of ChatGPT and explore its endless potential.</p>
            </a>
        </div>
    </main>

  </Layout>