---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Unique UX">
    <header class="main background100">
        <section class="hero-container">
            <h1 class="title">Our goal is to create and enhance the design of our content to ensure it is accessible, user-friendly, and enjoyable for everyone.</h1>
            <br>
            <h2 class="margin-bottom-16">We design easy-to-use interfaces and layouts, and make sure that the content is visually appealing and engaging for everyone.</h2>
            <br>
            <h5> 
                We build experiences using these 5 key stages: strategy, scope, structure, skeleton, surface, we strive to provide a seamless and positive experience for both our clients and their users.
            </h5>
            <br>        
        </section>
        <img class="main-img margin-top-8" src="#" alt="">
    </header>
</Layout>