---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Unique UX">
        <!-- This is the Headline, subtitle, & Product/Services images and descriptions (Above the fold)  -->
        <header class="main background100">
            <section class="hero-container">     
                <div class="hero">
                    <div class="hero-text">
                      <h1 class="margin-bottom-4">Coming Soon!</h1>
                      <p class="margin-bottom-8">View these case studies and examples and learn how we use teamwork and user-centered design to achieve business goals and improve overall user satisfaction.</p>
                    </div>
                </div>
                <div class="options">
                    <div class="option-left">
                    </div>
                    <div class="option-right">
                    </div>
                </div>
            </section>
            <img class="main-img margin-top-8" src="#" alt="">
        </header>
</Layout>