---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Unique UX">

    <!-- This is the Headline, subtitle, & Product/Services images and descriptions (Above the fold)  -->
    <header class="hero margin-top-32">
            <div class="success-message">
                <h2>Thank you for reaching out!</h2>
                <p>We at Unique UX appreciate your interest in our content design and human-centered design services. We'll be in-touch soon. We are excited to hear from you and look forward to the opportunity to work with you.</p>
                <a href="/" class="cta-btn">Back to Home</a>
            </div>
    </header>

    <!-- This is the main content of the page  -->

    <section class="flex margin-top-8">
    </section>
</Layout>
