article {
    grid-column: 1 / 5;
    text-align: left;
    background-color: transparent;
    padding: .3rem;
  }

  @media screen and (min-width: 576px) {
    article {
      grid-column: 1 / 9;
      background-color: var(--dark);
    }
  }

  @media screen and (min-width: 906px) {
    article{
      grid-column: 1 / 13;
      background-color: var(--dark);
    }
  }

  @media screen and (min-width: 992px) {
    article{
      grid-column: 1 / 9;
      background-color: var(--dark);
    }
  }

  @media screen and (min-width: 1280px) {
    article {
      grid-column: 1 / 9;
      background-color: var(--dark);
    }
  }
  @media screen and (min-width: 1440px) {
    article {
      grid-column: 1 / 9;      
      text-align: left;
      background-color: var(--dark);
      padding: .3rem;
    }
  }