.blog-summary-options {
    display: flex;
    grid-column: 1 / 13;
    padding: 16px;
    gap: 24px;
    width: 100%;
    height: 100%;
    background: #2B2C32;
}

.blog-icon {
    width: 115px;
    height: 115px;
    background: url(/imgs/blog-icon.png);
    }

.blog-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blog-summary {
    color: white;
    font-size: 18px;
    text-align: left;
}

