
  .hero {
    background-color: transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-btn-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 16px;
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 20px;
    text-align: center;
    padding: 0 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
  }
  
  
  
  .hero-container {
    grid-column: 1 / 5;
    text-align: center;
    align-self: center;
    background-color: none;
    border: none;
    margin-inline: 0px;
  }

  @media screen and (min-width: 576px) {
    .hero-container {
      grid-column: 1 / 9;
      text-align: center;
     }
  } 

  @media screen and (min-width: 906px) {
    .hero-container {
      grid-column: 1 / 13;
      text-align: center;
     }
  } 

  @media screen and (min-width: 992px) {
    .hero-container {
      grid-column: 1 / 13;
      text-align: center;
     }
  } 

  @media screen and (min-width: 1280px) {
    .hero-container {
      grid-column: 1 / 13;
      text-align: center;
     }
  } 

  @media screen and (min-width: 1440px) {
    .hero-container {
      grid-column: 1 / 13;
      text-align: center;
     }
  }
   
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .options {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-block: 36px;
  }
  
  .option-left,
  .option-right {
    width: 50%;
    border: 1px solid var(--light);
    border-radius: 4px;

  }
  
  @media (max-width: 768px) {
    .options {
      flex-wrap: wrap;
    }
    .option-left,
    .option-right {
      width: 100%;
    }
  }

  header {
    top: 0;
    height: fit-content;
    }

      /* small */
      @media screen and (min-width: 576px) {
        header {
          padding: 1rem;
          grid-template-columns: repeat(8, 1fr);
          gap: 1rem;
          background-color: var(--dark);
          margin: 0;
        }
      } 
  
      /* medium */
      @media screen and (min-width: 768px) {
        header {
          padding: 1rem;
          display: grid;
          place-content: center;
          gap: 24px;
          grid-template-columns: repeat(8, 1fr);
          grid-auto-flow: column;
          text-align: center;
          background-color: var(--dark);
        }
      } 
  
          /* large */
          @media screen and (min-width: 906px) {
            header {
              padding: 1rem;
              display: grid;
              place-content: center;
              gap: 24px;
              grid-template-columns: repeat(12, 1fr);
              grid-auto-flow: column;
              text-align: center;
              background-color: var(--dark);
            }
          } 
  
      /* large */
      @media screen and (min-width: 992px) {
       header {
          padding: 1.5rem;
          display: grid;
          place-content: center;
          gap: 24px;
          grid-template-columns: repeat(12, 1fr);
          grid-auto-flow: column;
          text-align: center;
          background-color: var(--dark);
        }
      } 
  
          /* XL */
          @media screen and (min-width: 1280px) {
           header {
              padding: 2rem;
              display: grid;
              place-content: center;
              gap: 24px;
              grid-template-columns: repeat(12, 72px);
              grid-auto-flow: column;
              text-align: center;
              background-color: var(--dark);
             }
          } 
  
      /* XXL */
      @media screen and (min-width: 1440px) {
        header {
          display: grid;
          place-content: center;
          gap: 24px;
          padding: 0rem;
          grid-template-columns: repeat(12, 72px);
          grid-auto-flow: column;
          text-align: center;
          background-color: var(--dark);
         }
      } 
