---
import Navigation from '../js/navigation.js';
---


<div>
    <nav id="navigation" class="navigation navigation-justified">        
        <div class="navigation-header">
            <div class="navigation-logo">
                <a href="#">
                    <img src="/imgs/Logo Mark.png" alt="logo">
                </a>
            </div>
            <div class="navigation-button-toggler">
                <i class="hamburger-icon"></i>
            </div>
        </div>
        <div class="navigation-body">
            <div class="navigation-body-header">
                <div class="navigation-logo">
                    <a href="#">
                        <img src="/imgs/Logo Mark.png" alt="logo">
                    </a>
                </div>
                <div class="brand">Unique UX</div>
                <span class="navigation-body-close-button">&#10005;</span>
            </div>
            <ul class="navigation-menu">
                <li class="navigation-item is-active">
                    <a class="navigation-link" href="/">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/learn">Learn</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/blog">Blog</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/about">About</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/contact">Contact</a>
                </li>
            </ul> 
    </nav>
</div>


<script is:inline src="/navigation.js"></script>

<script is:inline>
      var navigation = new Navigation(document.getElementById("navigation"), {
    });

    // console.log(Navigation);
</script>


<style>
    /* .hamburger-icon {
        background-color: white;
    } */
</style>