---
import '../stylesheets/navbar.css'
import '../stylesheets/login.css'
import '../stylesheets/btns.css'
import '../stylesheets/type.css'
---

<div>
    <nav id="navigation" class="navigation navigation-justified">        
        <div class="navigation-header">
            <div class="navigation-logo">
                <a href="#">
                    <img src="/imgs/Logo Mark.png" alt="logo">
                </a>
            </div>
            <div class="navigation-button-toggler">
                <i class="hamburger-icon"></i>
            </div>
        </div>
        <div class="navigation-body">
            <div class="navigation-body-header">
                <div class="navigation-logo">
                    <a href="#">
                        <img src="/imgs/Logo Mark.png" alt="logo">
                    </a>
                </div>
                <div class="brand">Unique UX</div>
                <span class="navigation-body-close-button">&#10005;</span>
            </div>
            <ul class="navigation-menu">
                <li class="navigation-item is-active">
                    <a class="navigation-link" href="/index.html">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/learn.html">Learn</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/blog/blog.html">Blog</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/about.html">About</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link" href="/contact.html">Contact</a>
                </li>
                <li class="navigation-item btn-box">
                    <!-- <button class="login-btn" onClick="netlifyIdentity.open()">Log in</button> -->
                    <button class="login-btn">Log in</button>
                </li>
            </ul>
            
    </nav>
</div>