---
const navs = [
  {
    title: "IA",
    id: "IA",
    href: "/blog/IA"
  },
  {
    title: "AI",
    id: "AI",
    href: "/blog/AI"
  },
  {
    title: "UX",
    id: "UX",
    href: "/blog/UX"
  },
  {
    title: "UI",
    id: "UI",
    href: "/blog/UI"
  },
  {
    title: "🎦",
    id: "MEDIA",
    href: "/blog/MEDIA"
  },
]

const { active } = Astro.props;
---

<div class="blog-nav">
  {
    navs.map((nav) => (
      active === nav.id ? <a class="nav-item active" href={nav.href}>{nav.title}</a> : <a class="nav-item"  href={nav.href}>{nav.title}</a>
    ))
  }
</div>

<style>
  .blog-nav {
    width: 100%;
    overflow-x: auto;
    display: flex;
    margin: 15px 0px;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }
  .blog-nav .active {
    color: white !important;
  }
  .nav-item {
    text-align: center;
    flex: 0 0 20%;
    padding: 5px 0px;
    background: radial-gradient(50% 50% at 50% 50%, #2b2c32 0%, #2b2c32 100%);
    margin: 0px 4px;
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF80;
    cursor: pointer;
  }
  .nav-item:hover {
    color: #FFFFFF;
    transition: .6s;
  }
  .nav-item:first-child {
    margin-left: 0px !important;
  }
  .nav-item:last-child {
    margin-right: 0px !important;
  }
  @media screen and (max-width: 575px) {
    .nav-item {
      font-family: Poppins !important;
      font-size: 24px !important;
      font-weight: 700 !important;
      line-height: 36px !important;
      letter-spacing: 0em !important;
      text-align: center !important;
      margin: 0px 4px;
      padding: 16px 18.5px !important;
    }
  }
</style>
